{{#each block.data.details.messages as |message index|}}
  <ul class="nav nav-tabs mt-2">
    <li class="nav-item">
      <a
        {{action "showMessages" index}}
        class="nav-link {{if message.showMessages "active"}}"
        href="#"
      >
        Record #{{inc index}}
      </a>
    </li>
    <li class="nav-item">
      <a
        {{action "showFields" index}}
        class="nav-link {{if message.showFields "active"}}"
        href="#"
      >
        Fields
      </a>
    </li>
  </ul>

  {{#if message.showFields}}
    <div class="tab-container mt-1">
      {{#each-in message.map as |key value|}}
        {{#if (eq key "_raw")}}{{else}}
          {{#if (eq key "_view")}}{{else}}
            <div>
              <span class="p-key">{{key}}:</span>
              <span class="p-value">{{value}}</span>
            </div>
          {{/if}}
        {{/if}}
      {{/each-in}}
    </div>
  {{/if}}

  {{#if message.showMessages}}
    <div class="tab-container fields-block scrollable-block mt-1">
      {{#each-in message.map as |key value|}}
        {{#if (eq key "_sourcecategory")}}
          <span class="p-value">{{value}}</span>
          {{else}}
          <span class="p-key">{{key}}:</span><span class="p-value">{{value}}</span>
        {{/if}}
      {{/each-in}}
    </div>
  {{/if}}

{{/each}}